appnope==0.1.0
attrs==19.3.0
backcall==0.2.0
bleach==3.1.5
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
cvxpy==1.0.29
cycler==0.10.0
dccp==1.0.3
decorator==4.4.2
defusedxml==0.6.0
dill
ecos==2.0.7.post1
entrypoints==0.3
fastcache==1.1.0
future==0.18.2
idna
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi
Jinja2==2.11.2
joblib
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client
jupyter-console==6.1.0
jupyter-core==4.6.3
jupyterlab==2.1.5
jupyterlab-server
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.2.1
mkl-service==2.3.0
Mosek===-version-
multiprocess
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.0.3
numpy
osqp==0.6.1
packaging==20.4
pandas
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.8.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycparser
Pygments==2.6.1
pyOpenSSL
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.1
qtconsole
QtPy==1.9.0
requests
scikit-learn
scipy
scs==2.0.2
Send2Trash==1.5.0
six==1.15.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl
torch
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.9
wcwidth
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.1.0
